# This is a CODEOWNERS file. See https://help.github.com/articles/about-codeowners/
# Last path that matches wins. Rules need to run from most general to most specific

# These owners will be the default owners for everything in the repo.
*                         @zendesk/wattle

# Themes
/packages/zcli-themes/    @zendesk/vikings
/docs/themes.md           @zendesk/vikings

# Shared
yarn.lock                 @zendesk/wattle @zendesk/vikings @zendesk/vegemite

# Connectors
/packages/zcli-connectors/ @zendesk/vegemite
