{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "standard"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "semi": "off",
    "eol-last": [
      "error",
      "always"
    ],
    "camelcase": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/semi": [
      "error",
      "never"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}