name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-and-check:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node-version: ["20.17.0"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: zendesk/checkout@v3
      - name: Use Node.js
        uses: zendesk/setup-node@v4
        with:
          node-version: "${{ matrix.node-version }}"
          cache: "yarn"
      - uses: zendesk/cache@v3
        with:
          path: |
            ./node_modules/
            ./packages/zcli/node_modules/
            ./packages/zcli-core/node_modules/
            ./packages/zcli-apps/node_modules/
            ./packages/zcli-themes/node_modules/
          key: node-modules-${{ runner.os }}-${{ hashFiles('**/package.json') }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            node-modules-${{ runner.os }}-${{ hashFiles('**/package.json') }}-
            node-modules-${{ runner.os }}-
      - run: yarn install
      - run: yarn lint
      - run: yarn test
      - run: yarn test:functional
      - run: yarn dev
      - run: yarn type:check
        env:
          CI: true
